.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 45px;
    padding-top: 30px;
    height: 100px;
}

.ig-icons,
.line, 
.instagram {
    padding: 15px;
}

.instagram {
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
    
}
.search-input {
    height: 30px;
    width: 220px;
    text-align: center;
}